body{margin:0;background-color:#F9A603;}

#master-container{position:absolute;top:0;left:0;width:100vw;height:100vh;}

#header-container{position:relative;top:20px;left:0;width:100%;height:20vh;text-align:center;}
#header-container img{width:auto;height:100%;}

#reset-container{position:relative;top:10%;left:50vw;width:400px;margin:0 0 0 -200px;text-align:center;}
#reset-container .text-input{width:100%;height:40px;background:none;border:none;border-bottom:1px solid #111111;text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#9d9d9d;font-size:18px;}
#reset-container .reset-button{width:100%;height:40px;background-color:#FFF;border:none;border-bottom:1px solid #111111;text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#F9A603;font-size:18px;cursor:pointer;}

#email {text-transform: uppercase;}

.error-text{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#8D161E;font-size:18px;}
.reset-text{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#FFFFFF;font-size:14px;}

@media (max-width:800px){
	#reset-container{position:relative;top:10%;left:10vw;width:90vw;margin:0 0 0 -5vw;text-align:center;}
}